:root {
  color: #333;
  --main-color: #67504a;
  --sub-color: #ff9800;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  transition: 0.3s;
  color: var(--sub-color);
  font-weight: bold;
  &:hover {
    opacity: 0.7;
  }
}

header,
footer,
.menu-items,
.page-top {
  text-align: center;
}

/*　ヘッダー　*/
header {
  border-top: 10px solid var(--main-color);
  background-color: #fafafa;
  padding: 20px;
}

h1 {
  width: 200px;
  margin: auto;
  filter: drop-shadow(0 0 3px #999);
}

/* ナビゲーションメニュー */
nav ul,
.menu-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* セクション */
section {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

/* メインビジュアル */
&#mein-visual {
  background-image: url(img/main.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  margin: auto;
  max-width: inherit;
  img {
    width: 100%;
  }
}

/* 見出し */
h2 {
  color: var(--sub-color);
  font-size: 2rem;
  font-family: "Caveat", cursive;
  margin-bottom: 20px;
  display: flex;
  gap: 0.5em;
  align-items: baseline;
  border-bottom: 3px solid var(--sub-color);
  padding-bottom: 5px;

  .sub-title {
    font-size: 0.5em;
  }

  &::before {
    content: "";
    background-image: url(img/coffee-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1em;
    aspect-ratio: 1 / 1;
  }
}

/* テキスト */
p {
  margin-bottom: 2rem;
}

/*　商品メニュー　*/
.menu-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
  color: var(--main-color);
  li {
    flex: 1 1 200px;
    img {
      border-radius: 10px;
    }
  }
  .menu-name {
    margin-top: 1rem;
  }
  .price {
    font-size: 1.2em;
    margin-bottom: 1rem;
    color: var(--sub-color);
  }
}

/*　フッター　*/
footer {
  color: #fff;
  text-align: center;
  border-color: #111;
  margin-top: 50px;
  padding: 20px;
}

iframe {
  width: 100%;
}

/*　レスポンシブ対応　*/
@media (max-width: 768px) {
  html {
    font-size: 0.9rem;
  }
  nav ul {
    li {
      flex: 1;
      a {
        background-color: var(--sub-color);
        color: #fff;
        padding: 1rem 0;
        display: block;
        border-radius: 0.5rem;
        margin: auto;
        font-size: 0.8rem;
      }
    }
  }
  .menu-items {
    flex-direction: column;
    img {
      aspect-ratio: 4/3;
      object-fit: cover;
      width: 100%;
      max-width: 300px;
      &.pudding {
        object-position: 0 80%;
      }
    }
  }
}
